.car-card {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 5px -3px rgba(193, 5, 32, 0.5);
}

.car-card:hover {
    border-color: rgba(193, 5, 32);
    box-shadow: 0 10px 10px 3px rgba(193, 5, 32, 0.8);
    transform: translateY(-2px); 
}

.btn-section {
    display: flex;
    align-items: center;
}   

.btn-danger {
    margin: 0.2rem;   
    background-color: rgba(193, 5, 32);
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.btn-circle {    
    width: 2rem;
    height: 2rem;
    border-radius: 50%; 
  }
  
.btn-danger:hover {
    background-color: rgba(193, 5, 32);
    transform: scale(1.1);  
}

.btn-danger:active {
    transform: scale(0.9);
}