/* Стилизация основного инпута */
.custom_date_input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 120%;
    text-align: center;
}

.custom_date_input:active {
    border: 1px solid rgba(193, 5, 32);
}

.react-datepicker {
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(193, 5, 32);
}

.react-datepicker__header {
    background-color: #f5f5f5;
}

.react-datepicker__day--selected {
    border: 1px solid rgba(193, 5, 32);
    background-color: rgba(193, 5, 32);
}

.react-datepicker__day--keyboard-selected {
    border: 1px solid rgba(193, 5, 32);
    background-color: rgba(193, 5, 32);
}

