.slider-container {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}

.slider-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/main.jpg);
  z-index: 1;
  will-change: transform;
}

.slider-content {
  position: absolute;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  width: 80%;
}

.slider-content.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.slider-content.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -45%); }
  to { opacity: 1; transform: translate(-50%, -50%); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translate(-50%, -50%); }
  to { opacity: 0; transform: translate(-50%, -55%); }
}

.slider-dots {
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.dot.active {
  background: white;
}

.dot:hover {
  background: rgba(255, 255, 255, 0.5);
}